.chatBox{
    width: 600px;
    margin-top: 4px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 3px;
    box-shadow: "0 4px 12px rgba(0, 0, 0, 0.1)";
    margin-top: 6px;
}

.chatList{
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
}